@{
    Layout = null;
}



<div style="width:100%;height:100%;text-align:center;font-size:55px;font-weight:bold;">
    <span style="display:block;">无权限访问</span>
    <a href="@Url.Action("Login","User")">点击登陆</a>
</div>