@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "用户管理";
}
@section Scripts{
<script>
        $(function () {

            InitDataTable();

            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

            $("#btnSearch").click(function () {
                lkWeb.Search($("#txtSearchKey").val(), table_user);

            })

        });

        function RoleAuth() {
            var userId = lkWeb.GetCheckValue($(".checkChild"));
            if (userId == "") {
                parent.layer.alert("请选择用户");
                return;
            }
              lkWeb.GoAction("user", "authen", userId, true, "设置权限",'100%','100%');
        }

        function AddModel() {
            lkWeb.GoAction("user", "add", 0);
        }
        function DelModel()
        {
            var ids = lkWeb.GetCheckValueList($(".checkChild"));
            lkWeb.DeleteMulti(ids, "user", table_user);
        }

        function EditModel() {
            var id = lkWeb.GetCheckValue($(".checkChild"));
            if (id == "")
                parent.layer.alert("请选择");
            else
                lkWeb.GoAction("user", "edit", id);

        }
        var table_user;
        function InitDataTable() {
            var dataUrl = '@Url.Action("GetPageData")';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rowNum", "name":"Id", "sClass": "text-center" },
                { "mData": "userName", "name": "LoginName", "sClass": "text-center" },
                { "mData": "realName", "name": "RealName", "sClass": "text-center" },
                { "mData": "email", "name": "Email","sClass": "text-center", "bSortable": false },
                { "mData": "statusName", "name": "StatusName","sClass": "text-center" },
                { "mData": "createDateTime", "name": "CreateDateTime","sClass": "text-center" },
            ];
            table_user = lkWeb.LoadTable("table_user", columns, dataUrl)
        }
</script>
}

<div class="form-group">
    <button type="button" class="btn btn-success" onclick="AddModel()">添加</button>
    <button type="button" class="btn btn-info" onclick="EditModel()">编辑</button>
    <button type="button" class="btn btn-danger" onclick="DelModel()">删除</button>
    <button type="button" class="btn btn-warning" onclick="RoleAuth()">角色授权</button>

</div>
<div class="form-group">
    <div class="input-group">
        <input id="txtSearchKey" type="text" class="form-control" placeholder="搜索关键字">
        <span class="input-group-btn">
            <button id="btnSearch" class="btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
        </span>
    </div>
</div>
<table class="table table-striped table-hover" id="table_user">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" />
            </th>
            <th>序号</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>电子邮箱</th>
            <th>状态</th>
            <th>创建日期</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
