@using lkWeb.Service.Dto
@model MenuDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Body.cshtml";
}
@section Scripts{
<script type="text/javascript">
        function Save() {
            var option = {
                datatype: "json",
                success: function (data) {
                    if (data.flag == true) {
                        parent.layer.alert("操作成功");
                        lkWeb.GoAction("menu", "index", 0);
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function (error) {
                    parent.layer.alert('提交请求失败');
                    console.log(error);
                }
            };
            $("#form-editMenu").ajaxSubmit(option);
        }
</script>
}
<form class="form-horizontal" action="@Url.Action("Edit", "Menu");" method="post" id="form-editMenu">
    @Html.HiddenFor(item => item.Id, new { @class = "form-control" })
    <div class="form-group">
        <label class="col-md-3 control-label">上级菜单</label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="ParentID" asp-for="ParentId" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">菜单名称</label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="Name" asp-for="Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">URL地址</label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="Url" asp-for="Url" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">排序</label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="Order" asp-for="Order" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="button" class="btn btn-success" onclick="Save();">确定编辑</button>
        </div>
    </div>
</form>