@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Body.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            InitDataTable();
            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

          $("#btnSearch").click(function () {
                lkWeb.Search($("#txtSearchKey").val(), table_menu);

            })

        });

        function EditModel() {
            var id = "";
            $(":checkbox:checked", "#table_menu").each(function (i, n) {
                if ($(n).attr("class") == "checkAll") return true;//相当于continue
                id = $(n).val();
                lkWeb.GoAction("menu", "edit", id);
            })
            if (id == "")
                parent.layer.alert("请选择");
        }

        function DelModel() {
            var ids = [];
            $(":checkbox:checked", "#table_menu").each(function (i, n) {
                if ($(n).attr("class") == "checkAll") return true;//相当于continue
                ids.push($(n).val());
            })
            lkWeb.DeleteMulti(ids, "menu", table_menu);
        }
        function AddModel() {
            lkWeb.GoAction("menu", "add", 0);
        }

        var table_menu;
        function InitDataTable() {
            var dataUrl = '@Url.Action("GetPageData")';   //后天获取json数据的地址
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "id", "sClass": "text-center" },
                { "mData": "parentID", "sClass": "text-center" },
                { "mData": "type", "sClass": "text-center" },
                { "mData": "name", "sClass": "text-center", "bSortable": false },
                { "mData": "url", "sClass": "text-center", "bSortable": false },
                { "mData": "order", "sClass": "text-center" },
                { "mData": "createDateTime", "sClass": "text-center" }
            ];
            table_menu = lkWeb.LoadTable("table_menu", columns, dataUrl);
    }


    </script>
}
<div class="data-content" style="padding:15px 0 0 15px;">
    <h2>菜单管理</h2>
    <hr />
    <div class="form-group">
        <button type="button" class="btn btn-success" onclick="AddModel()">添加</button>
        <button type="button" class="btn btn-primar" onclick="EditModel()">编辑</button>
        <button type="button" class="btn btn-danger" onclick="DelModel()">删除</button>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input id="txtSearchKey" type="text" class="form-control" placeholder="搜索关键字">
            <span class="input-group-btn">
                <button id="btnSearch" class="btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
            </span>
        </div>
    </div>
    <table class="table table-striped table-hover" id="table_menu">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkAll" />
                </th>
                <th>Id</th>
                <th>上级菜单Id</th>
                <th>类型</th>
                <th>名称</th>
                <th>URL地址</th>
                <th>排序</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>