@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title= "角色授权";
}

@section Scripts{
    <link href="~/lib/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <script src="~/lib/zTree/js/jquery.ztree.core.js"></script>
    <script src="~/lib/zTree/js/jquery.ztree.excheck.js"></script>

    <script>
        var zNodes_role = [];

        var zNodes_menu = [];

        function LoadData() {
            $.ajax({
                type: "post",
                url:"@Url.Action("GetRoleList", "Role")",
                dataType:"json",
                async: false,
                success: function (data) {
                    zNodes_role = data;

                },
                error: function (err) {
                    console.log(err);
                }
            })
            $.ajax({
                type: "post",
                url:"@Url.Action("GetMenuList", "Role")",
                dataType:"json",
                async: false,
                success: function (data) {
                    zNodes_menu = data;
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        var setting_role = {
            check: {
                enable: true,
                chkStyle: "radio",
                radioType: "level"
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
           callback: {
                onCheck: onRoleCheck
            }
        };

        var setting_menu = {
            check: {
                enable: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
        };

        var roleId="";
        function onRoleCheck(e, treeId, treeNode) {
            roleId = treeNode.id;
            $.ajax({
                url: "@Url.Action("GetRoleMenus", "Role")",
                type: "post",
                dataType: "json",
                data: { roleId: roleId },
                async: false,
                success: function (data) {
                    var treeObj = $.fn.zTree.getZTreeObj("menuTree");
                    treeObj.checkAllNodes(false);
                    $.each(data,function (n,value) {
                        var node = treeObj.getNodeByParam("id", value.menuId);
                        treeObj.checkNode(node, true, true);
                    })
                },
                err: function (err) {
                    console.log(err);
                }
            })
        }


        function setCheck_role() {
            var type = $("#level").attr("checked") ? "level" : "all";
            setting_role.check.radioType = type;
            $.fn.zTree.init($("#roleTree"), setting_role, zNodes_role);
        }

        function setCheck_menu() {
            var zTree = $.fn.zTree.getZTreeObj("menuTree"),
                py = $("#py").attr("checked") ? "p" : "",
                sy = $("#sy").attr("checked") ? "s" : "",
                pn = $("#pn").attr("checked") ? "p" : "",
                sn = $("#sn").attr("checked") ? "s" : "",
                type = { "Y": py + sy, "N": pn + sn };
            setting_menu.check.chkboxType = type;
        }

        function InitRoleTree() {
            setCheck_role();
            $("#level").bind("change", setCheck_role);
            $("#all").bind("change", setCheck_role);
        }

        function InitMenuTree() {
            setCheck_menu();
            $.fn.zTree.init($("#menuTree"), setting_menu, zNodes_menu);
            console.log(zNodes_menu);
            $("#py").bind("change", setCheck_menu);
            $("#sy").bind("change", setCheck_menu);
            $("#pn").bind("change", setCheck_menu);
            $("#sn").bind("change", setCheck_menu);
        }

        function GetData() {
            var data = { RoleIds: [], MenuIds: [] };
            data.RoleIds.push(roleId);
            var treeObj = $.fn.zTree.getZTreeObj("menuTree");
            nodes = treeObj.getCheckedNodes(true);
            for (var i = 0; i < nodes.length; i++) {
                data.MenuIds.push(nodes[i].id);
            }
            return data;
        }

        $(function () {
            LoadData();
            InitRoleTree();
            InitMenuTree();

            $("#btnClear").click(function () {
                var treeObj = $.fn.zTree.getZTreeObj("menuTree");
                treeObj.checkAllNodes(false);
            })
            $("#btnSave").click(function () {
                if (roleId == "") {
                    parent.layer.alert("请选择角色");
                    return;
                }
                parent.layer.confirm("确认保存", { btn: ["确认", "取消"] },
                    function () {
                        var data = GetData();
                     $.ajax({
                          url: "@Url.Action("AuthMenus", "Role")",
                          type: "post",
                          dataType: "json",
                          data: { dto:data},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  parent.layer.alert("操作成功");
                              }
                              else {
                                  parent.layer.alert("操作失败");
                              }
                          },
                           err: function (err) {
                              console.log(err);
                          }
                        })
                    }, function () {

                    }
                )
            })



        })
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <button id="btnSave" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-save"></i> 保存</button>
        <button id="btnClear" class="btn btn-w-m btn-danger" type="button"><i class="glyphicon glyphicon-remove-circle"></i> 清空</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                角色列表
            </div>
            <div class="panel-body">
                <ul id="roleTree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                权限菜单
            </div>
            <div class="panel-body">
                <ul id="menuTree" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>
