@using lkWeb.Areas.Admin.Models
@using System.Text;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "添加表";
}
@model ViewListModel
@section Scripts{
    <script type="text/javascript">
        $(function () {
            lkWeb.FormValidation($("#lkForm"), function () {
                lkWeb.GoAction("View", "index")
            }, "操作成功")
        })

    </script>
}
<form class="form-horizontal" action="@Url.Action("Add",new { id = @Model.TableId })" method="post" id="lkForm">
    @Html.AntiForgeryToken()
    @{
        string template = "<div class=\"form-group\"><div class=\"\">" +
            "<label class=\"col-md-2 control-label\">{0}</label>" +
            "<div class=\"col-md-9\">" +
        "<input type=\"text\" class=\"form-control\" name=\"{1}\" />" +
        "</div></div></div>";
        int count = 0;
        StringBuilder sb = new StringBuilder();
        foreach (var column in Model.TableColumn)
        {
            sb.Append(string.Format(template, column.Description, column.Name));
        }
        @Html.Raw(sb.ToString());
    }




    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1)">返回</button>
        </div>
    </div>
</form>