#wrapper, html {
    height: 100%;
}

body {
    padding-bottom: 20px;
    height: 100%;
}

a {
    cursor: pointer;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
    background-color: #eceded;
    height: 100%;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}

/*#region 后台侧边栏样式*/
.title {
    padding-top: 7px;
    width: 188px;
    height: 50px;
}

    .title a {
        text-decoration: none;
        color: white;
    }

.profile {
    padding-left: 15px;
    color: white;
    font-size: 20px;
    height: 200px;
}

.profile_img {
    width: 85px;
    height: 85px;
    border: 5px solid #FFF;
}

#sidebar-wrapper {
    width: 200px;
    height: 100%;
    z-index: 1000;
}

.sidebar-nav {
    list-style: none;
}

    .sidebar-nav > li > a {
        color: #ffffff;
    }

        .sidebar-nav > li > a:hover {
            background-color: transparent;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.5s ease;
            border-radius: 5px;
        }

    .sidebar-nav li:before {
        background-color: #1c1c1c;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
        z-index: -1;
        border-radius: 3px;
    }

    .sidebar-nav li:first-child a {
        color: #ffffff;
    }

    .sidebar-nav li:nth-child(2):before {
        background-color: #402d5c;
    }

    .sidebar-nav li:nth-child(3):before {
        background-color: #4c366d;
    }

    .sidebar-nav li:nth-child(4):before {
        background-color: #583e7e;
    }

    .sidebar-nav li:nth-child(5):before {
        background-color: #64468f;
    }

    .sidebar-nav li:nth-child(6):before {
        background-color: #704fa0;
    }

    .sidebar-nav li:nth-child(7):before {
        background-color: #7c5aae;
    }

    .sidebar-nav li:hover:before {
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 100%;
    }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #615F5F;
    border-color: #337ab7;
}

.sidebar-nav > li {
    padding: 5px 0px 0px 15px;
}

.dropdown-menu {
    background-color: #383838;
}

    .dropdown-menu > li > a {
        color: white;
    }
/*#endregion */

/*#region 后台右边内容样式*/
#page-wrapper {
    padding: 0 15px;
    position: inherit;
    margin: 0px 0 0 200px;
    height: 100%;
}

.navbar-static-top {
    background: #f3f3f4;
}

.content-tabs {
    position: relative;
    height: 43px;
    background: #fafafa;
    line-height: 40px;
    border-bottom: solid 2px #2f4050;
}

    .content-tabs .roll-nav {
        position: absolute;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #999;
        z-index: 2;
        top: 0;
    }

    .content-tabs button {
        background: #fff;
        border: 0;
        height: 40px;
        width: 40px;
        outline: 0;
    }

    .content-tabs .roll-right {
        right: 0;
        border-left: solid 1px #eee;
    }

.roll-right.btn-group {
    width: 130px;
    padding: 0;
}

.roll-right.J_tabRight {
    right: 140px;
}

.btn-group button {
    width: 130px;
}

nav.page-tabs {
    margin-left: 40px;
    width: 100000px;
    height: 40px;
    overflow: hidden;
}

    nav.page-tabs .page-tabs-content {
        float: left;
    }

.page-tabs a.active {
    background: #2a3f54;
    color: #a7b1c2;
}

.page-tabs a {
    color: #999;
}

.page-tabs a {
    display: block;
    float: left;
    border-right: solid 1px #eee;
    padding: 0 15px;
    text-decoration: none;
}

    .content-tabs .roll-nav:hover, .page-tabs a:hover {
        color: #777;
        background: #f2f2f2;
        cursor: pointer;
    }
    .page-tabs a.active i:hover, .page-tabs a.active:hover {
        background: #172d44;
        color: #fff;
    }
#content-main {
    height: calc(100% - 140px);
    overflow: hidden;
}

.footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    padding: 10px 20px;
    margin: 0 -15px;
    height: 36px;
}


/*#endregion*/
