<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/lib/jQuery.Form/jquery.form.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />   
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <script src="~/js/lkWeb.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
@RenderSection("Scripts", false)
</html>
